<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
	<link rel="stylesheet" href="./style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Fliping Card Game</title>
</head>
<body>
	<div id="content">
		<div id= "intro">
			<h1>Flip Card Game</h1>
			<p>You have only 30s for this game</p>
			<p>Good luck !</p>
			<div id="start">START</div>
		</div>
		<div id="time">
			<span>Time remaining: </span>
			<span id="show-time">30</span>
		</div>

		<div id="cards">
			<ul id="list-cards">
				
			</ul>
		</div>

		<div id="game-over">
			<h1>Flip Card Game</h1>
			<p id="sorry"></p>
			<div id="restart">Restart</div> 
			<form action="/submit" id="submit">
				<input type="text" name="playerName" id="playerName" placeholder="Type your name here">
				<button type="submit" id="sendReq">send</button>
			</form>
			<div id="rank">
				<h2>Rank</h2>
				<table id="table" >
					<tr>
					  <th>NAME</th>
					  <th>SCORE</th>
					</tr>
				</table> 
			</div> 
		</div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js.js"></script>
</body>
</html>